---
import { Image } from "astro:assets";
import { technologyCards } from "../../../src/utils/technology-cards.json";
import { Icon } from "astro-icon/components";

type Props = {
    project: {
        imageUrl: string;
        title: string;
        description: string;
        badges: string[];
        repositoryUrl: string;
        underDevelopment: boolean;
        docUrl?: string;
        liveDemoUrl?: string;
    }
} 

const {
    imageUrl, title, 
    description, badges, 
    repositoryUrl, underDevelopment, 
    docUrl, liveDemoUrl
} = Astro.props.project;

let tags = badges.map((badge) => {
    return { 
        name: badge, 
        card: technologyCards.find((card) => { 
            if (card.name == badge) return card.bgHexColor
        })
    }
})

---

<div class="flex flex-col bg-base-300 shadow-xl rounded-lg lg:flex-row p-8">

    <Image src={imageUrl} 
        loading="lazy" height={300} width={250}
        class="self-center rounded-xl shadow-xl m-2 skeleton" alt={`${title} project image`}/>

    <div class="flex flex-col justify-center text-center ">
        <div class="flex justify-end pr-4">
            { 
                underDevelopment 
                ? <span class="bg-red-200 rounded-xl px-1 text-red-600 font-semibold flex"><Icon name={"fa:wrench"} class="self-center"/> <span class="px-1">In Development</span></span> 
                : <span class="bg-transparent rounded-xl px-1 text-yellow-600 font-semibold flex"><Icon name={"fa:star"} class="self-center"/> <span class="px-1">On Going</span></span>          
            }
        </div>
        <h3 class="font-bold text-3xl my-2">{title}</h3>
        <p>{description}</p>
        <div class="my-3">
            {
                tags.map(({name, card}) => (
                    <span class="badge badge-neutral text-base-200 p-3 m-1 rounded-xl font-semibold" style={`background-color: #${card?card.bgHexColor:"353935"};`}>
                        {name}
                    </span>
                ))
            }
        </div>
        <div class="justify-center my-3 space-x-2 lg:justify-end">
            <a class="btn btn-primary btn-outline" href={repositoryUrl} target="_blank">Repository</a>
            {
                liveDemoUrl 
                    ? <a class="btn btn-primary btn-outline" href={docUrl} target="_blank">Docs</a>
                      <a class="btn btn-primary" href={liveDemoUrl} target="_blank">Live Demo</a>
                    : <a class="btn btn-primary" href={docUrl} target="_blank">Docs</a>
            }
        </div>
    </div>
  
</div>

